<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>llvmTest copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>llvmTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC5DBC131EAF6E9C003D4C5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC5DBC2C1EAF6E9C003D4C5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC5DBC371EAF6E9C003D4C5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC5DBC4A1EAF6F3F003D4C5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
